.dynamicList {
  --factor: calc(100% + var(--gap));
  --old-cols: max(var(--prev-cols), var(--cols));
  --old-rows: max(var(--prev-rows), var(--rows));
  display: grid;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  transition-timing-function: var(--list-change-easing);
  transition-duration: var(--list-change-duration);
  transition-property: var(--list-transition-property);
  gap: var(--gap);

  &.block {
    grid-auto-flow: column;
  }
}

.dynamicListItem {
  width: var(--list-item-width);
  height: var(--list-item-height);
  list-style-type: none;

  .dynamicList.from > & {
    grid-area: 1 / 1;
    translate: calc(var(--list-item-previous-col) * var(--factor))
      calc(var(--list-item-previous-row) * var(--factor));
  }

  .dynamicList.to > & {
    transition-delay: calc(var(--curr) * var(--list-item-transition-delay));
    transition-timing-function: var(--list-change-easing);
    transition-duration: var(--list-change-duration);
    transition-property: var(--list-item-transition-property);

    grid-area: 1 / 1;
    translate: calc(var(--list-item-col) * var(--factor))
      calc(var(--list-item-row) * var(--factor));
  }
}
