.button {
  display: grid;
  width: min(100%, 800px);
  border: none;
  border-radius: 25px;
  color: inherit;
  font: var(--base-bold);
  text-decoration: none;
  place-content: center;
  place-items: center;
  padding-block: min(6dvh, 18px);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &:active {
    filter: brightness(0.9);
    scale: 0.98;
  }

  &[data-variant='neutral'] {
    color: var(--space-cadet-500);
    background-color: var(--white);
  }

  &[data-variant='primary'] {
    border: 4px solid var(--space-cadet-500);
    color: var(--space-cadet-500);
    background-color: var(--white);
  }

  &[data-variant='secondary'] {
    color: var(--white);
    background-color: var(--space-cadet-500);
  }
}
