.button {
  --max-button-width: 800px;
  display: grid;
  width: min(100%, var(--max-button-width));
  border: none;
  border-radius: 20px;
  font: var(--base-bold);
  text-decoration: none;
  -webkit-touch-callout: none;
  place-content: center;
  place-items: center;
  padding-block: min(6dvh, 18px);

  &:active {
    filter: brightness(0.9);
    scale: 0.98;
  }

  &[data-variant='neutral'] {
    color: var(--space-cadet-500);
    background-color: var(--white);
  }

  &[data-variant='primary'] {
    border: 4px solid var(--space-cadet-500);
    color: var(--space-cadet-500);
    background-color: var(--white);
  }

  &[data-variant='secondary'] {
    color: var(--white);
    background-color: var(--space-cadet-500);
  }

  &[data-rounded] {
    border-radius: 40px;
  }

  @media (orientation: landscape) {
    --max-button-width: 400px;
  }
}
