.card {
  position: relative;
  display: grid;
  overflow: hidden;
  height: var(--goal-card-height);
  padding-top: calc(var(--side-padding) * 0.5);
  border: var(--goal-card-border-width) solid var(--bg-color-light);
  border-radius: var(--goal-card-border-radius);
  background-color: var(--bg-color);
  grid-template-rows: 7dvh auto auto 1fr;
  gap: 0.35rem;
  padding-inline: var(--side-padding);
  container-name: goal-card;
  container-type: inline-size;

  &::before {
    display: block;
    width: 100%;
    content: '';
  }
}

.icon {
  position: absolute;
  top: calc(var(--side-padding) * 0.5 + 2dvh);
  left: var(--side-padding);
  width: 30px;
  height: 30px;
  animation: var(--fade-in) calc(var(--default-duration) * 2);
}

.title {
  max-width: 80dvw;
  animation-name: var(--fade-in);
  animation-duration: var(--default-duration);
  animation-delay: calc(
    (var(--total) - var(--index)) * var(--default-duration)
  );
  font: var(--title-bold);
  animation-fill-mode: backwards;
}

.instruction {
  animation-name: var(--fade-in);
  animation-duration: var(--default-duration);
  animation-delay: calc(
    (var(--total) - var(--index)) * var(--default-duration)
  );
  font: var(--base-regular);
  font-style: italic;
  animation-fill-mode: backwards;
}

.info {
  animation-name: var(--fade-in);
  animation-duration: var(--default-duration);
  animation-delay: calc(
    (var(--total) - var(--index)) * var(--default-duration)
  );
  font: var(--base-regular);
  animation-fill-mode: backwards;
}

.overlay {
  position: absolute;
  right: calc(-10% - var(--side-padding));
  width: 80%;
  height: auto;
  opacity: 0.1;
  pointer-events: none;
  aspect-ratio: 1;
}
