.settings {
  display: grid;
  overflow: hidden;
  transition: scale var(--drawer);
  grid-template-columns: 100% 100%;

  &[data-dialog-is-open] {
    scale: var(--drawer-background-scale);
  }

  body:is([data-drawer-inner-focus], [data-nested-drawer-is-open]) & {
    scale: calc(var(--drawer-background-scale) * 0.9);
  }
}
