.backButton {
  display: grid;
  width: min-content;
  margin-top: calc(var(--block-padding) * 0.5);
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  place-items: center;
  grid-template-columns: auto auto;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
}

.backButtonIcon {
  width: calc(var(--base-font-size) * 0.65);
}
