.mainLoader {
  width: min(60px, 40vh);
  animation: var(--pop) var(--default-duration),
    var(--loader-spin) var(--base-animation-duration) var(--default-duration)
      linear infinite;
}

.container {
  &[data-state='pending'] {
    display: grid;
    height: 100%;
    place-content: center;
    place-items: center;
  }

  &[data-state='success'] {
    display: grid;

    overflow-x: hidden;
    height: calc(100dvh - var(--navbar-height));
    transition: scale var(--drawer);
    animation-name: switch-tabs;
    grid-template-rows: max-content;
    grid-template-columns: 100% 100%;
    scrollbar-width: none;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (orientation: landscape) {
      height: 100dvh;
    }
  }

  &[data-dialog-is-open] {
    scale: var(--drawer-background-scale);
  }
}

.heading {
  position: sticky;
  left: 0;
  display: grid;
  overflow: hidden;
  width: calc(100% - var(--side-padding) * 2);
  padding-block-start: calc(var(--block-padding) * 1.05);
  text-align: center;
  grid-template-rows: min(64px, 10dvh) auto auto;
  grid-template-columns: 100%;
  row-gap: min(5px, 2dvh);
  place-items: center;
  grid-area: 1 / 1;
  padding-inline: var(--side-padding);
}

.userBadgeIcon {
  width: min(60px, 40vh);
}

.userBadgeOverlay:is(.userBadgeOverlay) {
  position: sticky;
  z-index: 2;
  left: calc(50% - min(30px, 20vh));
  display: block;
  align-self: end;
  width: min(60px, 40vh);
  opacity: 0.05;
  animation: none;
  pointer-events: none;
  justify-self: center;
  grid-area: 1 / 1;
  translate: 0 30%;
  scale: 6;
}

.userDesignation {
  width: calc(100% - var(--side-padding) * 2);
  font: var(--title-bold);
}

.headingDescription {
  text-wrap: balance;
}

.tabList {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  display: grid;
  border-bottom: var(--outline);
  background-color: light-dark(white, Canvas);
  padding-block: calc(var(--block-padding) * 0.25);
  padding-inline: var(--side-padding);
  grid-template-columns: 50% 50%;
  grid-area: 2 / 1;
  @media (orientation: landscape) {
    padding-inline: calc(var(--side-padding) * 2);
  }
}

.overviewTabPill {
  grid-area: 1 / 1;

  [data-selected-tab='overview'] & {
    color: white;
  }
}

.historyTabPill {
  grid-area: 1 / 2;

  [data-selected-tab='history'] & {
    color: white;
  }
}

.overviewTabPill,
.historyTabPill {
  z-index: 1;
  width: 100%;
  border: none;
  transition: scale var(--default-duration),
    color calc(var(--default-duration) * 1.5);
  font: inherit;
  padding-block: 1.5dvh;
  padding-inline: 0;

  &:active {
    filter: unset;
    scale: 0.8;
  }
}

.pillHighlighter {
  position: relative;
  width: 100%;
  height: calc(3dvh + 1lh);
  border-radius: 20px;
  background-color: light-dark(var(--space-cadet-500), var(--space-cadet-300));
  pointer-events: none;
  justify-self: start;
  grid-row: 1;
  grid-column: 1;

  [data-selected-tab='history'] & {
    translate: 100%;
  }
}
