.mainLayoutView {
  --starting-fade-position-y: 2.5dvh;
  --starting-scale: 1 0.99;
  display: grid;
  width: 100%;
  height: 100dvh;
  color: var(--space-cadet-500);
  background-color: var(--white);
  grid-template-rows: auto 1fr auto;
  view-transition-name: app-root-view;
}
