.container {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  padding-inline: var(--side-padding);
  gap: 15px;

  &:has(.checkbox:checked) {
    filter: opacity(0.6);
  }
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 3px solid var(--space-cadet-500);
  border-radius: 50%;
  transition-duration: var(--default-duration);
  transition-property: scale;
  appearance: none;

  &:active {
    scale: 0.8;
  }

  &:checked {
    border-color: white;
    outline: 2px solid var(--space-cadet-500);
    background-color: var(--space-cadet-500);
  }
}
