.container {
  --starting-opacity: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  padding-inline: var(--side-padding);
  gap: 15px;

  &:has(.checkbox:checked) {
    opacity: 0.6;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid var(--space-cadet-500);
  border-radius: 50%;
  appearance: none;

  &:checked {
    border-color: white;
    outline: 2px solid var(--space-cadet-500);
    background-color: var(--space-cadet-500);
  }
}
