body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea,
svg {
  font: inherit;
}

* {
  -webkit-user-select: none;
  user-select: none;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-tap-highlight-color: transparent;
}

:root {
  --navbar-height: calc(
    6px + 1rem + 1.5rem + 7px + var(--tiny-font-size) +
      max(env(safe-area-inset-bottom), var(--safe-area-inset-bottom, 1rem))
  );
  position: fixed;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;

  &[data-theme='Light'] {
    color-scheme: light;
  }

  &[data-theme='System'] {
    color-scheme: light dark;
  }

  &[data-theme='Dark'] {
    color-scheme: dark;
  }
}

[data-font='System'] {
  --font-family: system-ui, sans-serif;
  font-family: system-ui, sans-serif;
}

[data-font='Inter'] {
  --font-family: 'Inter', sans-serif;
  font-family: Inter, sans-serif;
}

[data-font='Cursive'] {
  --font-family: 'Edu AU VIC WA NT Pre', sans-serif;
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
}

[data-font='SchibstedGrotesk'] {
  --font-family: 'Schibsted Grotesk', sans-serif;
  font-family: 'Schibsted Grotesk', sans-serif;
}

:root,
body {
  color: light-dark(var(--space-cadet-500), CanvasText);
  background-color: var(--space-cadet-500);
  transition: background-color calc(var(--default-duration) * 2),
    color calc(var(--default-duration) * 0.5);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* Platform-specific reset */
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  font-synthesis-weight: none;

  &:has([data-app-loaded]) {
    background-color: Canvas;
  }
}

body {
  overflow: hidden;
  width: 100%;
  max-width: var(--max-screen-width);
  height: 100%;
  font: var(--base-regular);
}
