.noGoalsContainer {
  display: grid;
  overflow-y: auto;
  width: calc(100% - var(--side-padding) * 2);
  height: 100%;
  text-align: center;
  place-items: center;
  place-content: center;
  padding-inline: var(--side-padding);
  gap: min(15px, 2dvh);
}

.calendarIcon {
  height: min(90px, 15dvh);
}

.noGoalsHeading {
  font: var(--title-bold);
}

.noGoalsText {
  @media (orientation: landscape) {
    max-width: 33rem;
  }
}

.button {
  display: grid;
  gap: calc(var(--base-font-size) * 0.5);
  grid-template-columns: auto auto;
  place-content: center;
  place-items: center;
}

.sparkleIcon {
  width: var(--base-font-size);
}

.initialAnimationFinalState {
  opacity: 1;
  animation: none;
}
