.mainLayoutView {
  display: grid;
  width: 100%;
  height: 100dvh;
  color: var(--space-cadet-500);
  background-color: var(--white);
  grid-template-rows: 1fr auto;

  @media (orientation: landscape) {
    grid-template-rows: unset;
    grid-template-columns: auto 1fr;
  }
}

.loadedMainLayout {
  /* 
    The view transition is added after the first load,
    so that the initial view transition is not visible.
   */
  view-transition-name: app-root-view;
}
