.mainLayoutView {
  --starting-fade-position-y: 2.5dvh;
  --starting-scale: 1 0.9;
  display: grid;
  width: 100%;
  height: 100dvh;
  color: var(--space-cadet-500);
  background-color: var(--white);
  grid-template-rows: 1fr auto;

  @media (orientation: landscape) {
    grid-template-rows: unset;
    grid-template-columns: auto 1fr;
  }
}

.stretchIntoView {
  opacity: 0;
  animation: var(--fade-stretch-from-bottom)
    calc(var(--default-transition-duration) * 1.5) both;
}

.rootViewTransition {
  /* 
    The view transition is added after the first load,
    so that the initial view transition is not visible.
   */
  view-transition-name: app-root-view;
}
