.drawer {
  position: fixed;
  z-index: 999;
  display: grid;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: unset;
  height: 100%;
  max-height: unset;
  padding: 0;
  margin: unset;
  border: none;
  background-color: transparent;
  place-items: start;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;

  &:not([data-closable]) {
    overflow-y: hidden;
  }

  &:not([data-open]) {
    overflow-y: hidden;
    pointer-events: none;
    &::before {
      /* Not a real animation. just delays the snap until the drawer is gone. */
      animation: snap 0ms var(--drawer) both;
    }
  }

  &:not([data-open])::backdrop {
    display: none;
  }

  &::before {
    pointer-events: none;
    scroll-snap-align: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    display: block;
    width: 100dvw;
    height: 100dvh;
    content: '';
    pointer-events: none;
  }

  &[open]::after {
    display: block;
    width: 100dvw;
    height: 0px;
    content: '';
    pointer-events: none;
    scroll-snap-align: end;
  }

  &[data-open]::backdrop {
    background-color: transparent;
  }
}

@keyframes snap {
  to {
    scroll-snap-align: start;
  }
}

.drawerContent {
  --drawer-visible-height: min(600px, 55dvh);
  --drawer-knob-area: calc(var(--block-padding) * 0.15 + 7px);
  --drawer-handle-color: #9999a45e;
  position: relative;
  width: 100%;
  height: var(--drawer-visible-height);
  border-color: var(--space-cadet-500);
  border-top: 2.5px solid;
  border-right: 2.5px solid;
  border-left: 2.5px solid;

  border-radius: min(6dvw, 30px) min(6dvw, 30px) 0px 0px;
  opacity: 0;
  background-color: Canvas;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--drawer);
  transition-property: translate, opacity;
  container: drawer inline-size;
  margin-inline: auto;
  translate: -2.5px var(--drawer-closed-position-y, 100%);

  &::before {
    position: absolute;
    top: calc(var(--block-padding) * 0.15);
    left: calc(50% - 80px * 0.5);
    display: block;
    width: 80px;
    height: 7px;
    border-radius: 13px;
    background-color: var(--drawer-handle-color);
    content: '';
    justify-self: center;
  }

  html[data-is-dark] & {
    border-color: var(--drawer-handle-color);
  }

  .drawer[data-open] & {
    opacity: 1;
    translate: -2.5px var(--drawer-open-position-y, 0);
  }
}
