.drawer {
  position: fixed;
  display: grid;
  overflow-y: auto;
  width: 100%;
  max-width: unset;
  height: 100%;
  max-height: unset;
  padding: 0;
  margin: unset;
  border: none;
  background-color: transparent;
  place-items: start;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  &:not([data-closable]) {
    overflow-y: hidden;
  }

  &:not([open]) {
    pointer-events: none;
    &::before {
      /* Not a real animation. just delays the snap until the drawer is gone. */
      animation: snap 0ms var(--drawer) both;
    }
  }

  &::before {
    pointer-events: none;
    scroll-snap-align: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    display: block;
    width: 100dvw;
    height: 100dvh;
    content: '';
    pointer-events: none;
  }

  &[open]::after {
    display: block;
    width: 100dvw;
    height: 15px;
    content: '';
    pointer-events: none;
    scroll-snap-align: end;
  }
}

@keyframes snap {
  to {
    scroll-snap-align: start;
  }
}

.drawerContent {
  width: 93%;
  max-width: 900px;
  height: min(600px, 65dvh);
  border: 3px solid;
  border-radius: 20px;
  background-color: white;
  transition-duration: var(--drawer);
  transition-property: translate;
  container: drawer inline-size;
  margin-inline: auto;
  translate: 0 100%;

  &::before {
    display: block;
    width: 58px;
    height: 10px;
    margin-top: 4px;
    border-radius: 13px;
    background-color: var(--space-cadet-50);
    content: '';
    margin-inline: auto;
  }

  .drawer[open] & {
    translate: none;
  }
}
