.settingsItem {
  position: relative;
  display: grid;
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  grid-template-columns: auto 1fr auto;
  column-gap: calc(var(--block-padding) * 0.25);
  padding-inline: var(--side-padding);
  padding-block: calc(var(--block-padding) * 0.35);

  &:active:not(:disabled) {
    &::before {
      opacity: 0.3;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--touch-highlight-color);
    content: '';
    transition-duration: calc(var(--default-duration) * 2.5);
    transition-property: opacity, scale;
    pointer-events: none;
  }

  & > * {
    position: relative;
    align-self: center;
  }
}

.settingsIcon {
  width: calc(var(--base-font-size) * 2);
  grid-area: 1 / 1 / 3 / 1;
}

.settingsTitle {
  font: var(--base-regular);
  grid-area: 1 / 2 / 2 / 2;
}

.settingsDescription {
  color: light-dark(var(--space-cadet-400), var(--space-cadet-100));
  font: var(--small-regular);
  grid-area: 2 / 2 / 3 / 2;
}

.settingsCaret {
  width: calc(var(--base-font-size) * 0.6);
  margin-inline-start: calc(var(--side-padding) * 0.5);
  color: var(--space-cadet-300);
  rotate: 180deg;
  grid-area: 1 / 3 / 3 / 3;
}

.settingsToggle {
  --color: var(--space-cadet-100);
  display: grid;
  width: 40px;
  height: auto;
  border-radius: 40px;
  outline: 3px solid var(--color);
  padding-block: 8% 6%;
  padding-inline: 6%;
  aspect-ratio: 2;
  place-items: center;
  grid-area: 1 / 3 / 3 / 3;
  appearance: none;

  &:checked {
    --color: light-dark(var(--space-cadet-500), var(--space-cadet-200));

    &::before {
      translate: 160%;
    }
  }

  &::before {
    display: block;
    width: auto;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    content: '';
    transition: translate var(--default-duration);
    justify-self: start;
    aspect-ratio: 1;
  }
}

.listMenu {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, min-content);
}

.listHeading {
  padding-block-start: var(--block-padding);
  margin-block-end: calc(var(--block-padding) * 0.25);
  font: var(--title-bold);
  padding-inline: var(--side-padding);
}

.backButton {
  padding-inline: var(--side-padding);
}

.listSubHeading {
  padding-block-start: calc(var(--block-padding) * 0.25);
  font: var(--subtitle-bold);
  padding-inline: var(--side-padding);
}
