.container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: min(15px, 2dvh);
}

.backButton {
  margin-inline-start: var(--side-padding);
  grid-area: 1 / 1;
}

.goalCards {
  --goal-card-border-radius: 5dvh;
  --goal-card-height: calc(60dvh - (var(--side-padding) * 0.5));
  --goal-card-border-width: 4px;

  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  color: var(--white);
  transition-duration: var(--drawer);
  transition-property: scale;
  scrollbar-width: none;
  overscroll-behavior-y: auto;
  scroll-snap-align: start;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--total), auto);
  grid-area: 1 / 1;
  translate: 0 calc(var(--goal-card-border-radius) * 1.5);

  & > * {
    --starting-fade-position-y: 20%;
    --apparent-index: calc(var(--total) - var(--index));
    position: sticky;
    top: calc((var(--index) + 1) * var(--goal-card-height) * 0.1);
    margin-block-end: -20dvh;
    animation-name: var(--fade-in-from-bottom);
    animation-duration: calc(var(--default-duration) * 1.25);
    animation-delay: calc(
      var(--apparent-index) * var(--default-duration) * 0.15
    );
    animation-fill-mode: backwards;

    @media (orientation: landscape) {
      --starting-fade-position-x: -30%;
      top: unset;
      align-self: center;
      margin-block-end: unset;
      animation-name: var(--fade-in-from-left);
      animation-duration: calc(var(--default-duration) * 1.5);
      animation-delay: calc(
        var(--apparent-index) * var(--default-duration) * 0.75
      );
      grid-area: 1 / calc(var(--apparent-index) + 1);
    }
  }

  &[data-dialog-is-open] {
    scale: var(--drawer-background-scale);
  }

  @media (orientation: landscape) {
    --goal-card-width: clamp(100px, 35dvw, 450px);
    --goal-card-height: clamp(100px, 35dvw, 450px);
    overflow-x: auto;
    overflow-y: hidden;
    width: unset;
    padding-inline-start: var(--side-padding);
    padding-inline-end: calc(var(--side-padding) * 6);
    grid-template-columns: repeat(var(--total), auto);
    grid-template-rows: 1fr;
    gap: calc(var(--side-padding) * 0.25);
    translate: 0;
    grid-area: 2 /1;
  }
}

.buttonRow {
  --animation-delay: calc(var(--default-duration) * 3);
  --gap: 10px;
  --starting-fade-position-y: 40%;
  display: grid;
  align-self: end;
  width: calc(90% - var(--side-padding));
  margin-bottom: var(--block-padding);
  transition-duration: var(--drawer);
  transition-property: scale;
  animation: var(--fade-in-from-bottom) calc(var(--default-duration) * 1.2)
    var(--animation-delay) backwards;
  place-items: center;
  grid-template-columns: auto auto;
  gap: var(--gap);
  justify-self: center;
  grid-area: 1 /1;

  @media (orientation: landscape) {
    grid-area: 3 / 1;
  }
}

.btn {
  display: grid;
  border: 2px solid var(--space-cadet-500);
  isolation: isolate;
  grid-auto-flow: column;
  gap: 6px;
}

.perfectBtn {
  justify-self: end;
}

.editBtn {
  justify-self: start;
}

.btnIcon {
  width: calc(var(--base-font-size) * 1.2);
}
