.container {
  --drawer-open-position-y: 0;
  --drawer-visible-height: max(400px, 45dvh);
  --initial-stagger-delay: calc(var(--drawer) * 0.8);
  position: relative;
  display: grid;
  width: calc(100% - var(--side-padding) * 2);
  padding-block-start: var(--block-padding);
  padding-block-end: calc(var(--block-padding) * 0.3);
  text-align: center;
  padding-inline: var(--side-padding);
  place-items: center;
  place-content: center;

  & > *:first-child {
    grid-row: 1;
    grid-column: 1;
  }

  &[data-dialog-state='pending'] {
    --drawer-open-position-y: 20%;
    place-content: center;
    gap: 12px;

    & > * {
      translate: 0 min(100px, -4dvh);
    }
  }
}

.padlock {
  --animation-duration: calc(var(--default-duration) * 2.1);
  --animation-delay: calc(var(--drawer) * 0.75);
  width: auto;
  height: min(15dvh, 300px);
  margin-bottom: 2dvh;

  aspect-ratio: 1;
  rotate: -15deg;

  &:is(.padlock) {
    opacity: 1;
    animation: none;
  }

  dialog:not([open]) :is(&, & > *) {
    animation: none;
  }

  [data-lock] {
    animation: padlock-lock var(--animation-duration)
      calc(var(--animation-delay) * 2.3);
    animation-fill-mode: backwards;
  }

  [data-lock-rod] {
    animation: padlock-lock-rod var(--animation-duration)
      calc(var(--animation-delay) * 2.3);
    stroke-linecap: butt;
    animation-fill-mode: backwards;
  }

  [data-circle] {
    transform-origin: center;
    animation: padlock-circle var(--animation-duration) var(--animation-delay)
      linear;
    stroke-dasharray: 600;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation-fill-mode: both;
  }
}

@keyframes padlock-lock {
  from {
    opacity: 0;
    transform: translate(0%, 10%);
  }

  65% {
    opacity: 1;
    transform: translate(0, -3%);
  }

  to {
    transform: none;
  }
}

@keyframes padlock-lock-rod {
  from {
    opacity: 0;
    transform: translate(0, -5%);
  }

  50% {
    color: inherit;
  }

  to {
    transform: unset;
  }
}

@keyframes padlock-circle {
  from {
    transform: rotate(-90deg);
    stroke-dashoffset: 600;
  }
  to {
    transform: rotate(90deg);
    stroke-dashoffset: 300;
  }
}

.heading {
  margin-bottom: 1dvh;
  font: var(--subtitle-bold);
}

.text {
  width: 80%;
  margin-bottom: max(30px, 4dvh);
  text-wrap: pretty;
}

.loader {
  width: auto;
  height: min(60px, 12dvh);
  aspect-ratio: 1;
}

.loadingText {
  text-align: center;
  font: var(--base-bold);
}
