.container {
  position: relative;
  overflow: hidden;
  height: clamp(10px, 25px, 6dvh);
  border: 3px solid var(--progress-color);
  border-radius: 13px;
  transition: border-color calc(var(--default-duration) * 2);
  grid-template: 100% / 100%;

  &::before {
    display: block;
    width: calc(var(--progress-percent) * 1%);
    height: 100%;
    background: var(--progress-color);
    content: '';
    transition-duration: calc(var(--default-duration) * 2);
    transition-property: width, background-color;
  }
  html[data-is-dark] & {
    border-color: var(--space-cadet-100);
  }
}
