.container {
  z-index: 2;
  display: grid;
  width: 100%;
  height: 100%;
  grid-row: 3;
  content-visibility: auto;
  contain-intrinsic-width: 100dvw;

  &[data-state='success'] {
    grid-template-rows: 300px auto auto 1fr;
  }
}

.stepper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: min-content min-content;

  button:first-child {
    align-self: center;
    grid-area: 1 / 1 / 3 / 1;
  }

  button:last-child {
    align-self: center;
    grid-area: 1 / 3 / 3 / 3;
  }
}

.day {
  align-self: end;
  font: var(--base-regular);
  grid-area: 1 / 2;
}

.date {
  align-self: start;
  font: var(--base-bold);
  grid-area: 2 / 2;
}

.selectedItem {
  --starting-fade-position-y: -50px;
  padding-block-end: var(--block-padding);
  animation: var(--fade-in-from-top) calc(var(--default-duration) * 1.5);
}

.remark {
  display: inline-grid;
  padding-block-end: calc(var(--block-padding) * 0.25);
  gap: 10px;
  padding-inline: var(--side-padding);
}

.percent {
  margin-block-end: calc(var(--block-padding) * 0.25);
  margin-inline: var(--side-padding);
}

.goalsHeading {
  font: var(--base-bold);
  margin-inline: var(--side-padding);
}

.unfinishedGoalsHeading {
  margin-top: calc(var(--block-padding) * 0.25);
}

.goalsList {
  display: flex;
  flex-direction: column;
  padding-block-start: calc(var(--block-padding) * 0.25);
  padding-inline: var(--side-padding);
  gap: calc(var(--block-padding) * 0.25);
}

.unfinishedGoalsList > * {
  filter: brightness(0.5) opacity(0.7);
}

.fadedText {
  display: grid;
  color: var(--space-cadet-200);
  animation: var(--fade-in) calc(var(--default-duration) * 2) ease-out;
  text-wrap: balance;
  font: var(--base-regular);
  grid-template-columns: auto 1fr;
  padding-inline: var(--side-padding);
  place-items: center;
  gap: calc(var(--block-padding) * 0.1);
}

.fadedTextContent {
  justify-self: start;
}

.emptyIcon {
  width: min(20px, 40dvw);
  height: auto;
  color: var(--space-cadet-100);
  aspect-ratio: 1;
}

.settingsIcon {
  width: min(20px, 40dvw);
  height: auto;
  color: var(--space-cadet-100);
  animation: var(--spin) calc(var(--default-duration) * 20) linear infinite;
  aspect-ratio: 1;
}
