.container {
  display: grid;
  width: calc(100% - var(--side-padding) * 2);
  padding-block-start: calc(var(--start-screen-block-padding-bottom) * 0.5);
  place-content: end;
  padding-inline: var(--side-padding);
}

.sidebarIcon {
  height: 50px;
}
