body {
  transition-duration: var(--app-root-view-transition-duration);
  transition-property: background;
}

.autoSelectionView {
  display: grid;
  width: calc(100% * var(--side-padding));
  height: 100dvh;
  color: var(--white);
  background: linear-gradient(
    to bottom right,
    var(--space-cadet-900),
    var(--space-cadet-800),
    var(--space-cadet-700),
    var(--space-cadet-600),
    var(--space-cadet-500),
    var(--space-cadet-450)
  );
  background-position: 50% 0;
  background-size: 400%;
  transition-duration: var(--view-transition-duration);
  transition-property: background;
  animation: background-dance calc(var(--default-duration) * 100) infinite;
  view-transition-name: app-root-view;
  padding-inline: var(--side-padding);
  grid-template-rows: auto auto;
  gap: min(15px, 2dvh);

  &[data-stage='2'] {
    color: var(--space-cadet-500);
    background: white;
    animation: unset;
    grid-template-rows: 1fr;
  }

  &[data-state='success'] {
    place-items: center;
    grid-template-columns: 1fr;
    padding-inline: 0;

    .backButton {
      margin-left: var(--side-padding);
      justify-self: start;
    }
  }

  @media (orientation: landscape) {
    background: transparent;

    body:has(&) {
      background: var(--space-cadet-900);
    }
  }
}

@keyframes background-dance {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 50%;
  }
}

.backButton:is(.backButton) {
  /* :is() forces specificity override. */
  display: none;

  @media (display-mode: standalone) {
    z-index: 1;
    display: grid;
    align-self: start;
    grid-row: 1;
    grid-column: 1;
  }
}
