.backButton {
  grid-area: 1 / 1;
}

.container {
  display: grid;
  overflow: hidden;
  padding-block-start: var(--block-padding);
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-area: 1 / 1;

  &:has(:checked) .submitBtn {
    opacity: 1;
    pointer-events: initial;
  }
}

.inputs {
  display: grid;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  padding-block: 0;
  padding-inline: 0;
  margin-inline: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-area: 3 / 1;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.heading {
  padding-bottom: min(15px, 2dvh);
  animation: var(--fade-in-from-bottom) calc(var(--default-duration) * 2);
  text-align: center;
  view-transition-name: onboarding-heading;
}

.subHeading {
  padding-bottom: calc(var(--block-padding) * 0.5);
  text-align: center;
  view-transition-name: onboarding-subheading;
}

.submitBtn {
  align-self: end;
  height: min-content;
  margin-block-end: calc(var(--block-padding) * 1.5);
  opacity: 0;
  isolation: isolate;
  pointer-events: none;
  justify-self: center;
  grid-area: 3 / 1;
}
