@import '@/styles/animations.css';

.startView {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  gap: 15px;
  padding-inline: var(--side-padding);
}

.logo {
  width: min(25dvw, 145px);
  color: #b2b2f5;
  view-transition-name: start-logo;
}

.heading {
  opacity: 0;
  animation: fade-in-from-bottom 300ms;
  text-align: center;
  font: var(--title-bold);
  animation-fill-mode: both;
}

.buttonRow {
  display: grid;
  width: 100%;
  grid: auto auto/ auto;
  gap: 15px;
  place-items: center;
}

.button {
  display: grid;
  width: 100%;
  opacity: 0;
  animation: fade-in-from-bottom 300ms;
  gap: 5px;
  grid-template-columns: auto auto;
  animation-fill-mode: both;

  &:nth-child(1) {
    view-transition-name: start-button;
  }
}

.buttonLogo {
  width: 15px;
}

.secondaryButton {
  opacity: 0;
  animation: fade-in-from-bottom 250ms 200ms;
  animation-fill-mode: both;
}
