@import '@/styles/animations.css';

body:has(.startView) {
  background-color: var(--space-cadet-500);
}

.startView {
  display: grid;
  min-height: calc(100dvh - var(--start-screen-block-padding-bottom));
  padding-block-end: var(--start-screen-block-padding-bottom);
  color: var(--white);
  background-color: var(--space-cadet-500);
  grid-template-rows: 1fr auto;
  place-content: space-between;
  padding-inline: var(--side-padding);
}

.startViewContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 15px;
}

.logo {
  width: min(25%, 145px);
  color: var(--white);
  view-transition-name: start-logo;
}

.heading {
  opacity: 0;
  animation: fade-in-from-bottom var(--default-transition-duration)
    calc(var(--default-transition-duration) * 0.75);
  text-align: center;
  font: var(--title-bold);
  animation-fill-mode: both;
}

.subheading {
  opacity: 0;
  animation: fade-in-from-bottom var(--default-transition-duration)
    calc(var(--default-transition-duration) * 0.5);
  text-align: center;
  animation-fill-mode: both;
}

.nameInput {
  view-transition-name: start-button;
}
