@import '@/styles/animations.css';

body:has(.startView) {
  background-color: var(--space-cadet-500);
}

.startView {
  display: grid;
  color: var(--white);
  background-color: var(--space-cadet-500);
  grid-template-rows: 1fr;
  padding-inline: var(--side-padding);

  &:has(.nameForm) {
    min-height: calc(100dvh - var(--start-screen-block-padding-bottom));
    max-height: calc(100dvh - var(--start-screen-block-padding-bottom));
    padding-block-end: var(--start-screen-block-padding-bottom);
  }

  &:has(.categoryForm) {
    overflow: hidden;
    height: 100dvh;
  }
}

.startOutlet {
  display: grid;
  height: 100%;
}

.nameForm {
  display: grid;
  height: 100%;
  max-height: 100%;
  place-items: center;
  grid-template-rows: 1fr auto auto auto 1fr;
  gap: 15px;
}

.categoryForm {
  display: grid;
  height: calc(100dvh - var(--start-screen-block-padding-bottom));
  padding-block-start: var(--start-screen-block-padding-bottom);
  place-items: center;
  place-content: center;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
}

.categoryList {
  display: grid;
  overflow-y: auto;
  align-self: start;
  width: 100%;
  height: calc(100% - calc(var(--start-screen-block-padding-bottom) * 2));
  padding-block-end: calc(var(--start-screen-block-padding-bottom) * 2);
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  gap: 15px;
  scrollbar-width: none;
  grid-row: 3;
  grid-column: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.category {
  position: relative;
  display: grid;
  border: 4.97px solid;
  border-radius: 13.39px;
  opacity: 0;
  animation: fade-in-from-bottom var(--default-transition-duration);
  animation-fill-mode: both;
}

.categoryButton {
  display: grid;
  width: 100%;
  height: 100%;
  border: none;
  color: inherit;
  background-color: transparent;
  font: var(--base-bold);
  padding-block: 5dvh;
  place-content: center;
  place-items: center;
  gap: 17px;
}

.categoryIcon {
  width: 64px;
  height: 64px;
  transition-duration: calc(var(--default-transition-duration) * 0.75);

  .categoryCheckIcon ~ .categoryButton > & {
    scale: 1.2;
  }
}

.categoryCheckIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 17%;
  animation: pop var(--default-transition-duration);
  aspect-ratio: 1;
}

.nameFormLogo {
  align-self: end;
  width: min(25%, 145px);
  color: var(--white);
  view-transition-name: start-logo;
}

.nameFormHeading,
.categoryFormHeading {
  opacity: 0;
  animation: fade-in-from-bottom var(--default-transition-duration)
    calc(var(--default-transition-duration) * 0.75);
  text-align: center;
  font: var(--title-bold);
  animation-fill-mode: both;
  view-transition-name: onboarding-heading;
}

.nameFormSubHeading,
.categoryFormSubHeading {
  opacity: 0;
  animation: fade-in-from-bottom var(--default-transition-duration)
    calc(var(--default-transition-duration) * 0.5);
  text-align: center;
  animation-fill-mode: both;
}

.nameFormInput {
  view-transition-name: start-button;
}

.nameSubmitButton {
  align-self: end;
}

.categorySubmitButton {
  position: relative;
  align-self: end;
  margin-block-end: var(--start-screen-block-padding-bottom);
  transition: opacity var(--default-transition-duration);
  grid-row: 3;
  grid-column: 1;

  &:disabled {
    opacity: 0;
  }
}
