.appContent {
  &:is(.appContent) {
    /* Overrides SlideLayerView Transitions. */
    transition-duration: var(--slide-duration);
    transition-property: scale, opacity, translate;
  }

  &[data-app-loaded] {
    display: grid;
    grid-template-rows: 1fr auto;

    @media (orientation: landscape) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
    }
  }

  &[data-extra-goals-page-is-open] {
    opacity: 0;
    pointer-events: none;
    scale: 0.95;
  }
}

.outlet {
  display: grid;
  height: calc(100dvh - var(--navbar-height));

  &[data-dialog-is-open] {
    & > :not(dialog) {
      scale: 0.9;
    }
  }

  @media (orientation: landscape) {
    overflow-y: auto;
    height: 100%;
  }
}
