.homeView {
  display: grid;
  height: 100dvh;
  color: white;
  background: var(--primary-100-600);
  place-items: center;
}

.headingText {
  composes: text-heading from '../../styles/typography.module.scss';
}
