.container {
  --drawer-visible-height: min-content;
  display: grid;
  width: calc(100% - var(--side-padding) * 2);
  padding-block: var(--block-padding);
  padding-inline: var(--side-padding);
  grid-template-columns: 1fr 1fr;
  row-gap: calc(var(--block-padding) * 0.25);
  column-gap: calc(var(--side-padding) * 0.5);
}

.heading {
  font: var(--subtitle-bold);
  grid-area: 1 / 1 / 1/ 3;
}

.text {
  margin-bottom: 10px;
  grid-area: 2 / 1/ 2/ 3;
}
