.container {
  --initial-stagger-delay: calc(var(--default-duration) * 1.5);
  --starting-fade-position-y: 30%;
  z-index: 2;
  display: grid;
  height: max-content;
  padding-block-start: 20px;
  padding-inline: var(--side-padding);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--total), max(150px, 20dvh));
  grid-row: 3;
  scroll-snap-align: none start;
  gap: 20px;
  content-visibility: auto;
  contain-intrinsic-width: 100dvw;

  &:is(&) {
    animation: none;
  }

  &::after {
    display: block;
    height: 30px;
    content: '';
  }
  @media (orientation: landscape) {
    padding-inline: calc(var(--side-padding) * 2);
  }
}
