.appView {
  display: grid;
  width: 100%;
  height: 100dvh;
  color: var(--space-cadet-500);
  background-color: var(--white);
  grid-template-rows: auto 1fr auto;

  body:has(&) {
    color: var(--space-cadet-500);
    background-color: var(--white);
  }
}
