::view-transition-old(start-logo) {
  transition-duration: 200ms;
  translate: -5% -6%;
  scale: 0.9;
}

::view-transition-old(*),
::view-transition-new(*),
::view-transition-group(*) {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  5% {
    rotate: -10deg;
  }
  10% {
    rotate: 10deg;
  }
  15% {
    rotate: -5deg;
  }
  20% {
    rotate: 5deg;
  }
  25% {
    rotate: 0deg;
  }
}

@keyframes bump-up {
  0% {
    translate: 0;
  }
  70% {
    translate: 5% -5%;
  }
  100% {
    translate: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(var(--starting-fade-position-y, 100%));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hourglass-loader {
  --base-animation-duration: 3s;
  width: 1.2rem;
  animation: loader-spin infinite;
  animation-duration: var(--base-animation-duration);

  .button__loader__bottom {
    animation: loader-fill infinite;
    animation-duration: var(--base-animation-duration);
    fill: currentColor;
  }

  .button__loader__top {
    animation: loader-fill infinite;
    animation-duration: var(--base-animation-duration);
    animation-delay: calc(var(--base-animation-duration) / 2);
    fill: currentColor;
  }
}

@keyframes loader-spin {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes loader-fill {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pop {
  from {
    opacity: 0;
    scale: 0.5;
  }
}
