:root {
  --white: #ffffff;
  --primary-600: #007480;
  --primary-500: #00868d;
  --primary-400: #0093b0;
  --primary-300: #009cd5;
  --primary-200: #00a6ff;
  --primary-100: #00bbff;
  --primary-100-600: linear-gradient(
    102deg,
    #006e7a 0%,
    #01858c 17.5%,
    #0098b7 40%,
    #009cd5 58.5%,
    #00bbff 80.49%,
    #0fbfff 100%
  );
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
