body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea,
svg {
  font: inherit;
}

* {
  -webkit-user-select: none;
  user-select: none;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-tap-highlight-color: transparent;
}

:root {
  --navbar-height: calc(
    6px + 1rem + 1.5rem + 10px + var(--tiny-font-size) +
      max(env(safe-area-inset-bottom), var(--safe-area-inset-bottom, 1rem))
  );
  position: fixed;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

:root,
body {
  color: var(--space-cadet-500);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  /* Platform-specific reset */
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  font-synthesis-weight: none;
}

* {
  overscroll-behavior-y: none;
}

body {
  overflow: hidden;
  width: 100%;
  max-width: var(--max-screen-width);
  height: 100%;
  font: var(--base-regular);
}
