body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

* {
  -webkit-user-select: none;
  user-select: none;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-tap-highlight-color: transparent;
}

:root {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

:root,
body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  overscroll-behavior-y: none;
  /* Platform-specific reset */
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  font-synthesis-weight: none;
}

body {
  width: 100%;
  max-width: var(--max-screen-width);
  height: 100%;
  font: var(--base-regular);

  &:has(#mainNavbar) {
    display: grid;
    grid-template-rows: 1fr auto;

    @media (orientation: landscape) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
    }
  }
}

#mainOutlet {
  display: grid;
  background-color: white;

  &[data-dialog-is-open] {
    & > :not(dialog) {
      scale: 0.9;
    }
  }
}

#autoSelectionView {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: linear-gradient(
    to bottom right,
    var(--space-cadet-900),
    var(--space-cadet-800),
    var(--space-cadet-700),
    var(--space-cadet-600),
    var(--space-cadet-500),
    var(--space-cadet-450)
  );
  background-position: 50% 0;
  background-size: 400%;
  animation: background-dance calc(var(--default-duration) * 100) infinite;
  grid-row: 1;
  translate: 100%;
  gap: min(15px, 2dvh);

  &[data-auto-select-is-open] {
    translate: 0;
  }

  &[data-stage='2'] {
    color: var(--space-cadet-500);
    background: white;
  }

  &[data-stage='3'] {
    color: var(--space-cadet-500);
    background: white;
    translate: 100%;
  }

  &[data-dialog-is-open] {
    &:has([data-dialog-state='pending']) {
      & > *:not(dialog, #backButton) {
        scale: 0.95;
      }
    }

    & > *:not(dialog, #backButton) {
      pointer-events: none;
      scale: 0.87;
    }
  }
}

#mainOutlet,
#mainNavbar {
  transition-duration: calc(var(--default-duration) * 1.25);
  transition-property: translate, scale, filter;

  &[data-auto-select-is-open] {
    /* filter: brightness(0.65); */
    translate: -40% 0;
    scale: 0.4 0.9;
  }

  body:has(#autoSelectionView[data-stage='3']) & {
    /* filter: brightness(0.65); */
    translate: none;
    scale: 1;
  }
}

#autoSelectionView {
  transition-duration: calc(var(--default-duration) * 1.25);
  transition-property: translate;
}
