@import './variables.css';
@import './animations.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

:root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  font-size: 16px;
}

:root,
body {
  overscroll-behavior-y: none;
}

body {
  max-width: var(--max-screen-width);
  height: 100%;
  font: var(--base-regular);
}
