.text-base {
  font-family: 'Albert Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.text-heading {
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  font-size: 2.5rem;
  font-weight: 700;
  composes: text-base;
}

.text-heading-2 {
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  font-size: 2rem;
  font-weight: 700;
  composes: text-base;
}
