:root {
  --white: #ffffff;
  --black: #000000;

  /* Colors */
  --primary-600: #007480ff;
  --primary-500: #00868dff;
  --primary-400: #0093b0ff;
  --primary-300: #009cd5ff;
  --primary-200: #00a6ffff;
  --primary-100: #00bbffcc;
  --tertiary-100: #ffeed2ff;
  --tertiary-200: #e9dac2ff;
  --tertiary-300: #d1c4b0ff;
  --tertiary-400: #cbbca3ff;
  --tertiary-500: #a49783ff;
  --tertiary-600: #908470ff;
  --tertiary-700: #837662ff;
  --tertiary-800: #746752ff;
  --tertiary-900: #645743ff;
  --space-cadet-50: #ceced4ff;
  --space-cadet-100: #a1a1adff;
  --space-cadet-200: #78788aff;
  --space-cadet-300: #55556cff;
  --space-cadet-400: #383853ff;
  --space-cadet-500: #1b1b3aff;
  --space-cadet-600: #1b1b3aff;
  --space-cadet-700: #14142bff;
  --space-cadet-800: #111125ff;
  --space-cadet-900: #0e0e1fff;
  --finn-50: #dfd4deff;
  --finn-100: #c1acc0ff;
  --finn-200: #a688a6ff;
  --finn-300: #8f698eff;
  --finn-400: #7c4f7bff;
  --finn-500: #693668ff;
  --finn-600: #592e58ff;
  --finn-700: #4d284cff;
  --finn-800: #422242ff;
  --finn-900: #381d38ff;
  --magenta-haze-50: #ecd7e4ff;
  --magenta-haze-100: #dbb2cbff;
  --magenta-haze-200: #cb90b5ff;
  --magenta-haze-300: #bd73a2ff;
  --magenta-haze-400: #b25b92ff;
  --magenta-haze-500: #a74482ff;
  --magenta-haze-600: #8d3a6eff;
  --magenta-haze-700: #7a325fff;
  --magenta-haze-800: #692b52ff;
  --magenta-haze-900: #592446ff;
  --brilliant-rose-50: #fdd8ecff;
  --brilliant-rose-100: #fcb4dbff;
  --brilliant-rose-200: #fb94cbff;
  --brilliant-rose-300: #fa78bdff;
  --brilliant-rose-400: #f961b2ff;
  --brilliant-rose-500: #f84aa7ff;
  --brilliant-rose-600: #d23f8dff;
  --brilliant-rose-700: #b6367aff;
  --brilliant-rose-800: #9c2f69ff;
  --brilliant-rose-900: #852859ff;
  --folly-50: #ffd3ddff;
  --folly-100: #ffabbeff;
  --folly-200: #ff87a2ff;
  --folly-300: #ff688aff;
  --folly-400: #ff4e76ff;
  --folly-500: #ff3562ff;
  --folly-600: #d82d53ff;
  --folly-700: #d82d53ff;
  --folly-800: #a1213eff;
  --folly-900: #881c34ff;
  --fern-green-50: #dbe4dbff;
  --fern-green-100: #bacbb9ff;
  --fern-green-200: #9cb49cff;
  --fern-green-300: #82a182ff;
  --fern-green-400: #6d916cff;
  --fern-green-500: #588157ff;
  --fern-green-600: #4a6d4aff;
  --fern-green-700: #405f40ff;
  --fern-green-800: #375137ff;
  --fern-green-900: #2f452fff;

  /* Gradients */
  --ssa: linear-gradient(to bottom, #13ae9713 0%, #b6d1f6b7 100%);
  --sss: linear-gradient(to bottom, #ff3586 0%, #b40104b4 100%);
  --sxc: linear-gradient(to bottom, #3b1d5c3b 0%, #57206b57 100%);
  --gradients-luxury: #00000033;
  --gradients-celestial-tides: linear-gradient(
    to bottom,
    #0078ab00 0%,
    #00868d00 50%,
    #00646f00 100%
  );
  --gradients-elegance: linear-gradient(
    to bottom,
    #1b1b3a1b 0%,
    #38385338 50%,
    #78788a78 100%
  );
  --gradients-cotton-candy: linear-gradient(
    to bottom,
    #00000000 0%,
    #ff0e97 100%
  );
  --gradients-aqua: rgba(0, 166, 255, 0.09);
  --gradients-minty: linear-gradient(to bottom, #dbffeedb 0%, #94dec794 100%);

  /* Dimensions */
  --start-screen-block-padding-top: 15.474dvh;
  --start-screen-block-padding-bottom: 5.802dvh;
  --start-screen-block-padding: var(--start-screen-block-padding-top)
    var(--start-screen-block-padding-bottom);
  --block-padding: var(--start-screen-block-padding-bottom);
  --side-padding: 7.63dvw;

  /* Typography */
  --heading-bold: normal 600 4rem system-ui, sans-serif;
  --heading-regular: normal 300 4rem system-ui, sans-serif;
  --sub-heading-bold: normal 600 2.75rem / 48px system-ui, sans-serif;
  --sub-heading-regular: normal 300 2.75rem / 48px system-ui, sans-serif;
  --eyebrow-bold: normal 600 2.425rem / 44px system-ui, sans-serif;
  --eyebrow-regular: normal 300 2.425rem / 44px system-ui, sans-serif;
  --title-bold: normal 700 1.812rem system-ui, sans-serif;
  --title-regular: normal 400 1.812rem system-ui, sans-serif;
  --base-bold: normal 700 1rem system-ui, sans-serif;
  --base-regular: normal 400 1rem system-ui, sans-serif;
  --small-bold: normal 600 0.75rem system-ui, sans-serif;
  --small-regular: normal 400 0.75rem system-ui, sans-serif;
  --tiny-bold: normal 600 0.6875rem system-ui, sans-serif;
  --tiny-regular: normal 400 0.6875rem system-ui, sans-serif;

  /* Shadows */
  --shadow-outline: 0px 0px 1px 1px #1b1b3a;
  --shadow: 0px 2px 4px #00000040;
}
