:root:not([data-view='app']) #waiting-screen {
  display: none;
}

#waiting-screen {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--space-cadet-500);
  pointer-events: none;
  place-items: center;
  place-content: center;
}

#waiting-screen.loading .waiting-screen__icon {
  display: none;
}

#waiting-screen.loading .waiting-screen__circle {
  --first-animation-duration: calc(var(--default-duration) * 1.25);
  --second-animation-duration: var(--default-duration);
  --starting-scale: 2;
  --ending-scale: 30;
  display: block;
  width: 20%;
  height: auto;
  border-radius: 50%;
  opacity: 0;
  background-color: currentColor;
  content: '';
  animation: condense-in var(--first-animation-duration),
    expand-forever var(--second-animation-duration) linear
      var(--first-animation-duration);
  animation-fill-mode: both;
  aspect-ratio: 1;
  grid-row: 1;
  grid-column: 1;
}

body:has(#waiting-screen) > div[data-x-outlet] {
  display: none;
}

#waiting-screen .waiting-screen__icon {
  --starting-scale: 0.07;
  --ending-scale: 0.5;
  width: min(186px, 100%, 25dvh);
  animation: pop calc(var(--default-duration) * 1.5);
  scale: 0.4;
  grid-row: 1;
  grid-column: 1;
}

#waiting-screen .waiting-screen__loader {
  width: min(186px, 100%, 25dvh);
  animation: pop var(--default-duration),
    spin calc(var(--default-duration) * 2) var(--default-duration) linear
      infinite;
  grid-row: 1;
  grid-column: 1;
}
