.button {
  display: grid;
  width: min(100%, 800px);
  border: none;
  border-radius: 25px;
  font: var(--base-bold);
  place-content: center;
  place-items: center;
  padding-block: 18px;

  &:active {
    filter: brightness(0.9);
    scale: 0.98;
  }
}
