.container {
  --starting-fade-position-y: 10dvh;
  --stagger-difference: 0.2;
  display: grid;
  padding-block-start: calc(var(--block-padding) * 1.5);
  transition: scale var(--drawer), opacity var(--slide-duration);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: calc(var(--block-padding) * 0.35);
  overscroll-behavior: none;

  &[data-dialog-is-open] {
    scale: var(--drawer-background-scale);
  }
}

.heading {
  font: var(--title-bold);
  justify-self: center;
  padding-inline: var(--side-padding);
}

.input {
  justify-content: center;
  width: calc(100% - var(--side-padding) * 2);
  border-color: light-dark(var(--space-cadet-500), CanvasText);
  margin-inline: var(--side-padding);
  padding-inline: calc(var(--side-padding) * 0.5);

  &::placeholder {
    opacity: 0.5;
    color: inherit;
  }

  @media (orientation: landscape) {
    width: calc(100% - var(--side-padding) * 6);
    padding-inline: calc(var(--side-padding) * 0.25);
    margin-inline: calc(var(--side-padding) * 3);
  }
}

.autoCompleteItem {
  overscroll-behavior: none;
}

.autoCompleteItemButton {
  position: relative;
  display: grid;
  width: 100%;
  border: none;
  color: inherit;
  background-color: transparent;
  animation: var(--fade-in) var(--default-duration) ease-in-out;
  font: var(--bigger-regular);
  grid-template-columns: var(--subtitle-font-size) 1fr;
  padding-block: calc(var(--block-padding) * 0.5);
  padding-inline: var(--side-padding);
  gap: calc(var(--side-padding) * 0.5);

  &:active {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: var(--touch-highlight-color);
      content: '';
      animation: var(--fade-in) calc(var(--default-duration) * 2) ease-in-out;
    }
  }

  @media (orientation: landscape) {
    gap: calc(var(--side-padding) * 0.25);
    padding-inline: calc(var(--side-padding) * 3);
  }
}

.autoCompleteItemIconContainer {
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
}

.autoCompleteItemIcon {
  align-self: center;
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
  opacity: 0.75;
}

.autoCompleteItemText {
  overflow: hidden;
  align-self: center;
  opacity: 0.75;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeBtn,
.addBtn {
  height: min-content;
}

.closeBtn {
  justify-self: end;
  grid-area: 5 / 1;
}

.addBtn {
  justify-self: start;
  grid-area: 5 / 2;
}
