.viewLayer {
  overscroll-behavior: unset;
}

.container {
  --toggle-search-duration: var(--default-duration);
  display: grid;
  overflow-y: auto;
  align-self: normal;
  width: 100%;
  height: 100%;
  transition: scale var(--drawer);
  grid-template-rows: auto auto auto 1fr;
  grid-row: 1;
  grid-column: 1;
  gap: 10px;
  scrollbar-width: none;

  &[data-dialog-is-open] {
    scale: var(--drawer-background-scale);
  }

  &[data-search-is-open] {
    .buttonAndSearchContainer {
      font-weight: normal;
      grid-template-columns: 1fr;
      padding-inline: 0;
    }

    .goalItemList {
      opacity: 0.1;
      pointer-events: none;
    }
  }

  body[data-dialog-is-pending] & {
    scale: var(--drawer-background-scale-pending);
  }
}

.backButton {
  margin-inline-start: var(--side-padding);
  grid-area: 1 / 1;
  @media (orientation: landscape) {
    margin-inline-start: calc(var(--side-padding) * 2);
  }
}

.title {
  padding-block-start: calc(var(--block-padding) * 1.5);
  text-align: center;
  font: var(--title-bold);
  grid-area: 1 / 1;
  justify-self: center;
}

.subtitle {
  text-align: center;
  grid-area: 2 / 1;
  justify-self: center;
}

.buttonAndSearchContainer {
  grid-area: 3 / 1;
}

.goalItemList {
  grid-area: 4 / 1;
}

.title,
.subtitle {
  --starting-fade-position-y: 50%;
  transition-duration: var(--toggle-search-duration);
  transition-property: opacity, scale;
  padding-inline: var(--side-padding);
  @media (orientation: landscape) {
    padding-inline: calc(var(--side-padding) * 2);
  }
}

.goalItem {
  --starting-fade-position-x: 20%;
  animation: var(--fade-inline) calc(var(--default-duration) * 2.5)
    calc(var(--slide-duration) * var(--level) * 0.15) backwards
    cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonAndSearchContainer {
  --starting-fade-position-y: 20%;
  display: grid;
  border-radius: 40px;
  transition-duration: var(--toggle-search-duration);
  transition-property: opacity, translate;
  font-weight: bold;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-inline: var(--side-padding);
  padding-inline: 15px 20px;

  @media (orientation: landscape) {
    margin-inline: calc(var(--side-padding) * 2);
  }
}

.containerButtonContent {
  display: grid;
  width: 100%;
  gap: 8px;
  grid-template-rows: 1fr;
  grid-template-columns: 40px 1fr;
  place-items: start;

  & > * {
    align-self: center;
  }
}

.buttonAndSearchContainerIcon {
  width: 18px;
  justify-self: center;
}

.searchInputContainer {
  width: calc(100% - var(--inline-padding) * 2);
  margin: 0;
  border: 0;
  border-radius: 40px;
  border-radius: 40px;

  input {
    height: unset;
  }
}

.autoComplete {
  /* Container Block paddings + text size + border-widths + gap. */
  top: calc(min(6dvh, 18px) * 2 + 10px);
  width: 100%;
  margin-inline: 0px;
}

.searchForm {
  width: 100%;
}

.submitBtn {
  &:disabled {
    scale: 0;
  }
}

.submitBtnIcon {
  width: calc(min(20.63vw, 80px) * 0.5);
}

.deletingByTap {
  opacity: 0;
  transform: scale(0.85);
}

.deletingBySwipe > *:first-child {
  opacity: 0;
}
