.autoSelectionLoader {
  align-self: end;
  width: min(90px, 7dvh);
  opacity: 0;
  animation: var(--fade-in) calc(var(--default-duration) * 5) both
      calc(var(--default-duration) * 3),
    var(--loader-spin) var(--base-animation-duration) infinite;
  justify-self: center;
  grid-row: 1;
  grid-column: 1;

  @media (orientation: landscape) {
    opacity: 1;
    animation: var(--loader-spin) var(--base-animation-duration) infinite;
  }
}

.heading {
  align-self: start;
  max-width: 60dvw;
  min-height: calc(var(--subtitle-font-size) * 3);
  opacity: 0;
  animation: var(--fade-in) calc(var(--default-duration) * 5)
      var(--default-duration) both,
    var(--fade-out) 6 calc(var(--default-duration) * 25);
  text-align: center;
  font: var(--subtitle-bold);
  justify-self: center;
  grid-row: 2;
  grid-column: 1;

  @media (orientation: landscape) {
    opacity: 1;
    animation: var(--fade-out) 6 calc(var(--default-duration) * 25);
  }
}
