.categoryForm {
  display: grid;
  width: 100%;
  height: calc(100dvh - var(--block-padding));
  padding-block-start: var(--block-padding);
  grid-template: auto auto 1fr / 100%;
  gap: min(15px, 2dvh);
  grid-area: 1 / 1;
}

.categoryFormHeading {
  view-transition-name: onboarding-heading;
}

.categoryFormSubHeading {
  view-transition-name: onboarding-subheading;
}

.categoryFormHeading,
.categoryFormSubHeading {
  animation: var(--fade-in-from-bottom) calc(var(--default-duration) * 2);
  text-align: center;
}

.categoryListContainer {
  display: grid;
  overflow-x: visible;
  overflow-y: auto;
  grid-area: 3 / 1;
  scrollbar-width: none;

  @media (orientation: landscape) {
    place-content: center;
  }
}

.categoryList {
  display: flex; /* ... */
  flex-wrap: wrap;
  justify-content: space-between;
  height: min-content;
  padding: 2px;
  padding-block-end: calc(var(--block-padding) * 3);
  gap: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.categorySubmitButton {
  align-self: end;
  margin-block-end: calc(var(--block-padding) * 1.5);
  transition: opacity var(--default-duration);
  isolation: isolate;
  justify-self: center;
  grid-area: 3 / 1;

  &:disabled {
    opacity: 0;
  }
}
