.categoryForm {
  display: grid;
  width: 100%;
  height: calc(100dvh - var(--block-padding));
  padding-block-start: var(--block-padding);
  grid-template: auto auto 1fr / 100%;
  gap: min(15px, 2dvh);
  grid-area: 1 / 1;
}

.categoryFormHeading,
.categoryFormSubHeading {
  animation: var(--fade-in-from-bottom) calc(var(--default-duration) * 2);
  text-align: center;
}

.categoryListContainer {
  display: grid;
  overflow-x: visible;
  overflow-y: auto;
  grid-area: 3 / 1;
  scrollbar-width: none;

  @media (orientation: landscape) {
    place-content: center;
  }
}

.categoryList {
  display: flex; /* ... */
  flex-wrap: wrap;
  justify-content: space-between;
  height: min-content;
  padding: 2px;
  padding-block-end: calc(var(--block-padding) * 3);
  gap: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.categorySubmitButton {
  align-self: end;
  margin-block-end: var(--block-padding);
  transition: opacity var(--default-duration);
  isolation: isolate;
  justify-self: center;
  grid-area: 3 / 1;

  &:disabled {
    opacity: 0;
  }
}

.category {
  display: grid;
  flex: auto;
  margin-bottom: min(10px, 1.5dvh);
  border: 3px solid;
  border-radius: 25px;
  color: inherit;
  transition-duration: calc(var(--default-duration) * 1.5);
  transition-property: color, background-color, border-color, outline-color,
    scale;
  animation: var(--pop) calc(var(--default-duration) * 2) backwards;
  white-space: nowrap;
  font: inherit;
  padding-inline: 12px;
  padding-block: min(15px, 3dvh);
  grid-template-columns: min(18px, 2dvh) auto 0;
  place-content: center;
  place-items: center;
  gap: 10px;

  &:active {
    scale: 0.8;
  }

  &:last-child {
    flex: unset;
  }

  &[data-is-selected] {
    border-color: black;
    outline: 2.5px solid;
    outline-color: var(--category-color);
    color: black;
    background-color: var(--category-color);

    .categoryIcon {
      animation: var(--pop) calc(var(--default-duration) * 2.5);
      filter: invert(1);
    }
  }

  input {
    appearance: none;
    grid-area: 1 / 3;
  }
}

.categoryIcon {
  --starting-scale: 0.1;
  width: auto;
  height: min(25px, 4dvh);
  color: inherit;
  transition-duration: inherit;
  transition-property: filter;
  aspect-ratio: 1;
  grid-area: 1 / 1;
}
