.onboardingView {
  --fade-to-white-delay: 2s;
  --fade-to-white-duration: calc(var(--default-duration) * 2);
  display: grid;
  color: var(--white);
  background-color: var(--space-cadet-500);
  transition-duration: calc(var(--default-duration) * 2);
  transition-property: background-color, color;
  grid-template-rows: 1fr;

  &.enteringName {
    height: calc(100dvh - var(--block-padding));
    padding-block-end: var(--block-padding);
    padding-inline: var(--side-padding);
  }

  &.selectingCategories {
    overflow: hidden;
    height: 100dvh;
    padding-inline: var(--side-padding);
  }
}

@keyframes fade-to-white {
  to {
    color: var(--space-cadet-500);
    background-color: var(--white);
  }
}

.nameForm {
  display: grid;
  height: 100%;
  max-height: 100%;
  place-items: center;
  grid-template-rows: 1fr auto auto auto 1fr;
  gap: 15px;
}

.backButton:is(.backButton) {
  display: none;

  .onboardingView.selectingCategories & {
    @media (display-mode: standalone) {
      display: grid;
      align-self: start;
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.nameFormLogo {
  align-self: end;
  width: min(25%, 145px);
  color: var(--white);
  view-transition-name: start-logo;
}

.nameFormHeading {
  animation: var(--fade-in-from-bottom) var(--default-duration)
    calc(var(--default-duration) * 0.75);
  text-align: center;
  font: var(--title-bold);
  animation-fill-mode: backwards;
  view-transition-name: onboarding-heading;
}

.nameFormSubHeading {
  animation: var(--fade-in-from-bottom) var(--default-duration)
    calc(var(--default-duration) * 0.5);
  text-align: center;
  animation-fill-mode: backwards;
}

.nameFormInput {
  view-transition-name: start-button;
}

.nameSubmitButton {
  align-self: end;
  color: var(--space-cadet-500);
  background-color: var(--white);
}

.onboardingViewFinalLoaderContainer {
  display: grid;
  height: 100dvh;
  animation: fade-to-white var(--fade-to-white-duration)
    var(--fade-to-white-delay) forwards;
  place-items: center;
  place-content: center;
  place-items: center;
}

.onboardingViewFinalLoader {
  width: var(--sub-heading-font-size);
  opacity: 0;
  animation: var(--pop) var(--default-duration) backwards,
    var(--loader-spin) var(--base-animation-duration) infinite;
}
