.timeIcon {
  width: 50px;
  height: 50px;

  &[data-time-of-day='morning'] {
    path:not(:last-child) {
      animation: come-down var(--default-duration * 10) linear infinite;
    }

    path:last-child {
      fill: white;
    }
  }

  &[data-time-of-day='afternoon'] {
    animation: var(--fade-in-from-bottom) var(--default-duration),
      spin calc(var(--default-duration) * 70) linear var(--default-duration)
        infinite;
  }

  &[data-time-of-day='evening'] {
    path:nth-child(2),
    path:nth-child(3) {
      animation: var(--twinkle) infinite;
      animation-duration: calc(var(--default-duration) * 15);
    }
    path:nth-child(3) {
      opacity: 0;
      animation-delay: calc(var(--default-duration) * 4);
      animation-fill-mode: both;
    }
  }
}

@keyframes come-down {
  from {
    transform: translateY(29%);
  }

  to {
    transform: translateY(62%);
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.timeIcon,
.timeGreeting,
.encouragement,
.progressBar {
  --starting-fade-position-y: 50%;
  z-index: 2;
  animation: var(--fade-in-from-bottom) var(--default-duration);
  margin-inline: var(--side-padding);
}

.timeGreeting,
.encouragement,
.progressBar {
  opacity: 0;
  animation-fill-mode: both;
}

.timeGreeting {
  animation-delay: calc(var(--default-duration) * 0.5);
  font: var(--eyebrow-bold);
}

.stickyArea {
  position: sticky;
  z-index: 1;
  top: calc(var(--block-padding) * -0.5);
  display: grid;
  background-color: white;
  gap: min(15px, 2dvh);

  &::before {
    position: absolute;
    top: calc(var(--block-padding) * -1.5);
    display: block;
    width: 100%;
    height: calc(var(--block-padding) * 1.5);
    background-color: white;
    content: '';
  }

  &::after {
    position: absolute;
    bottom: calc(min(15px, 2dvh) * -1);
    display: block;
    width: 100%;
    height: min(15px, 2dvh);
    background: white;
    content: '';
  }
}

.encouragement {
  animation-delay: calc(var(--default-duration) * 1);
}

.progressBar {
  animation-delay: calc(var(--default-duration) * 1.5);
}

.goals {
  display: grid;
  animation: var(--fade-in) calc(var(--default-duration) * 2);
  padding-block: 15px;
  place-content: start;
  gap: 9px;
  grid-template-columns: 100%;

  &::after {
    display: block;
    content: '';
    translate: 0 calc(var(--total) * (100% + 10px));
    grid-row: 1;
    grid-column: 1;
  }

  & > * {
    transition-duration: calc((var(--default-duration) * 1.5));
    transition-property: translate, scale;
    animation-name: slide-in;
    animation-duration: calc((var(--default-duration) * 2) + (var(--i) * 40ms));
    grid-row: 1;
    grid-column: 1;
    translate: 0 calc(var(--i) * (100% + 10px));
  }
}

@keyframes slide-in {
  from {
    translate: 17dvh calc(var(--i) * (100% + 10px));
  }
}
