.headingText {
  display: grid;
  width: calc(100% - var(--side-padding) * 2);
  height: fit-content;
  padding-top: calc(var(--block-padding) * 1.5);
  padding-inline: var(--side-padding);
  gap: min(15px, 2dvh);
}

.timeIcon {
  width: 50px;
  height: 50px;
}

.timeIcon,
.timeGreeting,
.encouragement,
.progressBar {
  opacity: 0;
  animation: var(--fade-in-from-bottom) var(--default-duration) both;
}

.timeGreeting {
  animation-delay: calc(var(--default-duration) * 0.5);
  font: var(--eyebrow-bold);
}

.encouragement {
  animation-delay: calc(var(--default-duration) * 1);
}

.progressBar {
  animation-delay: calc(var(--default-duration) * 1.5);
}

.goals {
  display: grid;
  padding-block: 15px;
  place-content: start;
  gap: 9px;
  grid-template-columns: 100%;
}
